{% set navigation_bar = [['homepage', 'Home Page']] %}
{% set active_page = active_page|default('homepage') %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Vie de Dev{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block navigation %}
        <nav class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading pure-menu-link">LOGO</a>
            <ul class="pure-menu-list">
                    {% for item in navigation_bar %}
                        <li class="pure-menu-item{% if item[0] == active_page %} pure-menu-selected{% endif%} ">
                            <a class="pure-menu-link" href="{{ app.url_generator.generate(item[0]) }}">{{item[1]}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        {% endblock %}

        {% block content %}{% endblock %}

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/js/main.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
